<div class="ogItemDiv itemDiv">
  <button
    class="bi bi-check-lg transpButtons text-success"
    title="Task Finished"
    onClick=""
  ></button>
  <div class="itemContent">
    <p class="itemTitle"></p>

    <div class="editPopup">
      <div class="closeBtnDiv">
        <button
          class="bi bi-x-circle-fill text-danger transpButtons closeBtn"
          title="Cancel"
          onClick=""
        ></button>
      </div>
      <div class="editFieldDiv">
        <input
          type="text"
          class="editPopupText"
          onChange=""
          onKeyDown=""
          value="{editText}"
        />
        <button
          class="fa-regular fa-floppy-disk transpButtons saveBtn"
          title="Save"
          onClick="{editSaveBtn}"
        ></button>
      </div>
    </div>

    <p class="itemDate"></p>
  </div>

  <div class="ogButtons">
    <div class="priority">
      <button
        class="priorityUp fa-solid fa-caret-up transpButtons"
        title="Increase Priority"
        onClick=""
      ></button>
      <p class="priorityNum" title="Priority"></p>
      <button
        class="priorityDown priorityUp fa-solid fa-caret-down transpButtons"
        title="Decrease Priority"
        onClick=""
      ></button>
    </div>

    <div class="editDlteButtonDiv">
      <button
        class="bi bi-pencil-square transpButtons text-secondary"
        title="Edit Task"
        onClick=""
      ></button>
      <button
        class="bi bi-trash transpButtons text-danger"
        title="Delete Task"
        onClick=""
      ></button>
    </div>
  </div>
</div>

